@import "../../styles/config/settings.scss";

.section-main {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: url('../../assets/welcome.jpg');
  background-position: top center;
  background-size: cover;
  .content {
    position: relative;
    padding-top: 20px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .title, .subtitle {
    margin: 17% auto 0 auto;
    padding: 15px;
    color: $darkPrimaryColor;
    background: rgba($primaryColor, 0.5);
  }
  h1.title {
    width: 70%;
    line-height: 45px;
    font-size: 42px;
    
  }
  h2.subtitle {
    margin-top: -15px;
    width: 50%;
    line-height: 27px;
    font-size: 24px;
  }

  @media screen and (max-width: 767px) {
    h1.title {
      font-size: 32px;
    }
    h2.subtitle {
      font-size: 16px;
    }
  }
}

.features {
  margin: 0 auto;
  padding: 20px 0 80px;
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
  background-color: white;
}

@media screen and (max-height: 800px) {
  .features {
    padding: 0 0 50px;
  }
}

.btn-start,
.btn-get-started {
  display: block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn-start {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 34px;
  line-height: 33px;
  border: 2px solid $primaryColor;
  color: $primaryColor;
  border-radius: $bRadius-default;
}
.btn-start:hover, .btn-start:active, .btn-start:focus {
  color: $darkPrimaryColor;
  border-color: $darkPrimaryColor;
  text-decoration: none;
}

.btn-get-started {
  position: relative;
  margin: 0 auto;
  width: 120px;
  height: 44px;
  line-height: 43px;
  text-align: center;
  color: $darkPrimaryColor;
  background: $primaryColor;
  border-radius: 25px;
  border: 2px solid $primaryColor;
}
.btn-get-started:hover, .btn-get-started:active, .btn-get-started:focus {
  background: $darkPrimaryColor;
  color: $primaryColor;
  text-decoration: none;
}
.btn-get-started:active {
  top: 1px;
}


// LOGIN & REGISTRATION
.section-main.login {
  top: 0;
  height: 100vh;
  background: $background;
}

.btn-back {
  display: block;
  margin: 15px auto;
  padding: 5px 10px;
  width: 100px;
  color: $textPrimaryColor;
  background-color: $accentColor;
  border-radius: $bRadius-default;
  cursor: pointer;
}

.form-wrapper {
  margin: auto;
  padding: 3rem 5rem;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 50rem;
  width: 34rem;
  background-color: white;
  text-align: left;
  box-shadow: 2px 2px 3px 1px $grayLight;
}

.form-wrapper h2 {
  margin: 0.9rem 0;
  font-size: $fontSize-large;
  font-weight: 300;
}

.form-wrapper .welcome-back-message {
  font-weight: 400;
}

.form-wrapper .sub-title {
  color: $blackLight;
}

.form-wrapper .logo {
  position: absolute;
  top: 3.8rem;
  right: 5rem;
  width: 42px;
  height: 38px;
  background-image: url('../../dist/favicon.png');
  background-position: top center;
  background-size: cover;
}

.section-main.login .message-unconfirmed {
  padding: 8px;
  background-color: $primaryColor;
  position: fixed;
  top: 2%;
  left: 29%;
  right: 29%;
  color: white;
  box-shadow: 2px 2px 3px 1px $grayLight;
}
