@import "../../styles/config/settings.scss";

.oval-wrapper {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;

  @media (max-width: 1199px) {
    top: 0;
  }

  @media screen and (max-width: 991px) {
    left: -14rem;
    width: 220%;
  }
  @media screen and (max-width: 767px) {
    top: -2rem;
    left: -22rem;
    width: 250%;
  }
  @media screen and (max-width: 575px) {
    width: 300%;
    left: -36rem;
  }
}
.oval-wrapper svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  display: inline-block;
  margin: 0 auto;
  width: 12rem;
  height: 4.4rem;
  line-height: 4.1rem;
  text-align: center;
  font-size: 1.6rem;
  color: $darkPrimaryColor;
  background: $primaryColor;
  border-radius: 25px;
  border: 2px solid $primaryColor;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.button:hover, .button:active, .button:focus {
  color: $primaryColor;
  background: white;
  text-decoration: none;
}
.btn-get-started {
  width: 18rem;
  height: 5rem;
  line-height: 4.8rem;
}
.btn-start {
  position: relative;
  top: 0.5rem;
  right: 0.5rem;
  margin-bottom: 4rem;
}

.section-main {
  padding: 0 4rem;
  margin-bottom: 4rem;
  text-align: right;
  .content {
    text-align: center;
  }
  .content .btn-get-started {
    margin-bottom: 4rem;
  }
  h1.title {
    margin: 0 0 4rem 0;
    line-height: 58px;
    font-size: 60px;
    text-align: left;
  }
  h1.title span:nth-child(3) {
    color: $primaryColor;
  }

  @media screen and (max-width: 991px) {
    h1.title {
      font-size: 54px;
      text-align: center;
    }
  }
  @media screen and (max-width: 767px) {
    .btn-start {
      display: none;
    }
    h1.title {
      font-size: 40px;
    }
  }
}

.features {
  margin: 0 auto;
  padding: 2.5rem 0 10rem;
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
  background-color: white;

  .slider-control-centerleft, .slider-control-centerright { 
    display: none;
  }
}

@media screen and (max-height: 800px) {
  .features {
    padding: 0 0 5rem;
  }
}

// LOGIN & REGISTRATION
.section-main.login {
  top: 0;
  height: 100vh;
  background: $background;
}

.btn-back {
  display: block;
  margin: 15px auto;
  padding: 5px 10px;
  width: 100px;
  color: $textPrimaryColor;
  background-color: $accentColor;
  border-radius: $bRadius-default;
  cursor: pointer;
}

.form-wrapper {
  margin: auto;
  padding: 3rem 5rem;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 50rem;
  width: 34rem;
  background-color: white;
  text-align: left;
  box-shadow: 2px 2px 3px 1px $grayLight;
}

.form-wrapper h2 {
  margin: 0.9rem 0;
  font-size: $fontSize-large;
  font-weight: 300;
}

.form-wrapper .welcome-back-message {
  font-weight: 400;
}

.form-wrapper .sub-title {
  color: $blackLight;
}

.form-wrapper .logo {
  position: absolute;
  top: 3.8rem;
  right: 5rem;
  width: 42px;
  height: 38px;
  background-image: url('../../dist/favicon.png');
  background-position: top center;
  background-size: cover;
}

.section-main.login .message-unconfirmed {
  padding: 8px;
  background-color: $primaryColor;
  position: fixed;
  top: 2%;
  left: 29%;
  right: 29%;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 3px 1px $grayLight;
}
