@import "../../styles/config/settings.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 36px $darkPrimaryColor inset !important;
}
