@import "../../styles/config/settings.scss";

input, select {
  width: 100%;
  outline: 0;
  background: transparent;
}

.form-field {
  margin-bottom: 1rem;
}

input.form-input {
  padding: 2rem 1rem 1rem 1rem;
  border: 0;
  border-bottom: 1px solid $secondaryTextColor;

  &:hover {
    border-bottom: 1px solid $primaryTextColor;
  }

  &:focus {
    border-bottom: 1px solid $blue;
  }
}

select.form-select {
  height: 4rem;
}
