@import "../../styles/config/settings.scss";

.saving-goal-form--title-wrapper {
  margin-bottom: 25px;
  font-size: $fontSize-normal;
  color: $secondaryTextColor;
}

.saving-goal-form--title {
  padding: 0 0 5px 0;
  border-bottom: 1px solid $blue;
}

.currency {
  position: absolute;
  top: 37px;
  right: 20px;
  color: $grayLight;
}