@import "../../styles/config/settings.scss";

.saving-goal-form--title-box {
  padding: 0 15px 15px 15px;
  font-size: 16px;
  color: $secondaryTextColor;
}

.saving-goal-form--title {
  padding: 0 0 5px 0;
  border-bottom: 1px solid $blue;
}

.currency {
  position: absolute;
  top: 37px;
  right: 20px;
  color: $grayLight;
}