@import "../../styles/config/settings.scss";

.status-overview {
  font-family: 'Khula', sans-serif;
  font-weight: 300;
}

.status-overview .status-overview--title {
  padding-left: 20px;
  color: $grayLight;
}

.status-overview .status-overview--box {
  display: inline-block;
  width: 25%;
  padding-left: 20px;
}

.status-overview .status-overview--label {
  font-size: $fontSize-medium;
  color: $grayLight;
}

.status-overview .status-overview--value {
  font-size: $fontSize-extraLarge;
  color: $blue;
}
