@import "../../styles/config/settings.scss";

.status-overview {
  font-family: 'Khula', sans-serif;
  font-weight: 300;
}

.status-overview .status-overview--title {
  margin-top: 7px;
  padding-left: 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: $fontSize-large;
  font-weight: 600;
  letter-spacing: 2px;
  color: $purple;
}

.status-overview .status-overview--label {
  font-size: $fontSize-normal;
  color: $grayLight;
}

.status-overview .status-overview--value {
  font-size: $fontSize-gigantic;
  color: $blue;
}
