.incomesList-header-element {
  margin-bottom: 20px;
  padding: 10px 15px;
  color: $secondaryTextColor;
  border-bottom: 1px solid $dividerColor;
}

.incomesList-content-element {
  @include m-height(40px);
  color: $secondaryTextColor;
  cursor: pointer;
}
.incomesList-content-element .title,
.incomesList-content-element .category,
.incomesList-content-element .value,
.incomesList-content-element .entryTime {
  height: 20px;
  line-height: 36px;
  font-size: $fontSize-medium;
}


.incomesList-content-element .deleteIncome {
  display: none;
  position: absolute;
  top: 6px;
  right: 30px;
}

// Hover effects
.incomesList-content-element:hover {
  background-color: $lightPrimaryColor;
}
.incomesList-content-element:hover .deleteIncome {
  display: block;
}
.incomesList-content-element:hover .deleteIncome:hover {
  color: $accentColor;
}
