@import "../../styles/config/settings.scss";

.dialog-body {
  background-color: $darkPrimaryColor;
}

.dashboard-item {
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: $darkPrimaryColor !important;
}
