@import "../../styles/config/settings.scss";

.table .table-row-header,
.table .table-row-header th {
  height: 4rem !important;
}

.table .table-row-header td {
  font-family: "Khula", sans-serif;
  font-size: $fontSize-medium;
}

.table .table-row-header .button-sort {
  margin-left: 0.5rem;
  cursor: pointer;
}

.table .table-row-header .fa-sort-asc,
.table .table-row-header .fa-sort-desc {
  top: 0.25rem;
  position: relative;
}

.table .table-row-header .fa-sort-desc {
  top: -0.25rem;
}
