@import "../../styles/config/settings.scss";

.form-sign-in-question {
  position: relative;
  margin-bottom: 5px;
  font-size: $fontSize-small;
  color: $grayLight;
}

.form-sign-in-question .btn-login {
  display: inline;
  margin-left: 3px;
  font-size: $fontSize-small;
}
