.table, .table-row {
  font-family: "Khula", sans-serif;
  font-weight: 300;
  background-color: #F5F5F5 !important;
}

.table-row {
  height: 6rem !important;
}

.table-row.last {
  border-bottom: 1px solid transparent !important;
}

.table-row--name {
  color: #818C9D;
  font-size: 2rem;
}

.table-row--due {
  position: relative;
  padding-left: 1.2rem;
  color: #16A2E0;
  font-size: 1.2rem;
}

.table-row--due .circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #59D9A4;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 6px;
}

.table-row--saved,
.table-row--monthly {
  margin-top: 2rem;
  color: #16A2E0;
  font-size: 1.6rem;
}

.table-row--monthly {
  font-size: 1.8rem;
}

.progress {
  padding: 0;
  margin: 0;
  width: 100%;
}

.progress li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

.progress .progress-bar--filled-cell,
.progress .progress-bar--empty-cell {
  width: 25px;
  padding-right: 2px;
  height: 10px;
}

.progress .progress-bar--filled-cell .cell,
.progress .progress-bar--empty-cell .cell {
  border: 1px solid #59D9A4;
  background-color: white;
  height: 10px;
}

.progress .progress-bar--filled-cell .cell {
  background-color: #59D9A4;
}
