@import "../../styles/config/settings.scss";

.dialog-body-wrapper > div > div,
.dialog-body-wrapper > div > div > div {
  border-radius: 15px !important;
}

.dialog-body {
  background-color: $darkPrimaryColor;
  border-radius: 15px;
}
