@import "../../styles/config/settings.scss";

.table-toolbar {
  padding: 10px 25px;
  height: 40px;
  background-color: $blueLight;
}

.table-toolbar .table-toolbar--title,
.table-toolbar .table-toolbar--btn {
  display: inline-block;
}

.table-toolbar .table-toolbar--title {
  color: $textPrimaryColor;
  font-size: $fontSize-normal;
}

.table-toolbar .table-toolbar--button {
  float: right;
  padding: 6px 24px;
  margin: -10px -25px 0 0;
  font-size: $fontSize-large;
  color: $textPrimaryColor;
  background-color: $blue;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

.table-toolbar .table-toolbar--button:hover {
  color: $blue;
  background-color: $blueLight;
}

.table-toolbar .table-toolbar--button:active {
  color: $textPrimaryColor;
}
