@import "../../styles/config/settings.scss";

.settings-page--tab-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}

.settings-page--title {
  margin-left: 0.5rem;
  color: $grayLight;
}

.sign-out {
  cursor: pointer;
}
