.feature-box {
  position: relative;
  padding: 6rem 30%;
  width: 100%;
  text-align: center;
  font-family: 'Khula', sans-serif;
}
.feature-box a {
  font-family: 'Noto Sans', sans-serif;
}
.feature-box .feature-box--title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 2.2rem;
  line-height: 1.2;
}
.feature-box .feature-box--description {
  margin: 0;
  font-size: 1.8rem;
}
@media screen and (max-width: 991px) {
  .feature-box {
    padding: 4rem 25%;
  }
}
@media screen and (max-width: 767px) {
  .feature-box {
    padding: 4rem 20%;
  }
}
