.feature-box {
  position: relative;
  padding: 90px 30%;
  width: 100%;
  text-align: center;
}
.feature-box .feature-box--title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 1.2;
}
.feature-box .feature-box--description {
  margin: 0;
  font-size: 18px;
}
@media screen and (max-width: 1023px) {
  .feature-box .feature-box--description {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .feature-box {
    font-size: 18px;
  }
  .feature-box .feature-box--description {
    font-size: 14px;
  }
}
